.labels3{
    color: rgb(235, 54, 54) !important;
    font-size: 14px;
}
.labels2{
    font-size: 15px;
}
.buttons2 {
    color: #ffffff;
    background-color: #05AFF2;
    margin-top: 5px;
}

.buttonPad {
    padding: 5px 5px !important;
    background-color: white;
}