.Footer {
    position: relative;
    margin-top: 20px;
    background: rgb(255, 254, 254);
    border-top: 5px solid #6ee4f3;
  }
  .FootLogo {
    text-align: right;
  }
  .FootText {
    text-align: left;
  }
  .Footer img {
    width: 100px;
    height: 80px;
    text-align: center;
    padding-bottom:10px;
  }
  @media screen and (max-width: 600px) {
    .Footer {position: fixed !important;}
    .FootText {margin-bottom:10px!important;}
    }
  @media screen and (max-width: 450px) {
    .Footer img {padding-bottom:0px;}
    }