.labels{
    color: #05AFF2 !important;
  }
.buttons {
    color: #ffffff;
    background-color: #05AFF2;
    margin-top: 5px;
}

.buttonPad {
    padding: 5px 5px !important;
    background-color: white;
}
.links{
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
    text-decoration: 'none';
}
.links a{
    color: rgba(169, 169, 169, 0.856);
}
